*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:'gabrito',sans-serif;
}
.navbar{
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;

border-bottom: black 1px solid;
}
.title_1{
    color:#A435F0 ;
}
.search{
    border:black 1px solid;
    padding: 18px ;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search input{
    border: none;
    font-size: 16px;
    width: 100%;
}
.icon{
    display: flex;
    gap:15px;
    align-items: center;
}
.categories{
    display: flex;
    border-bottom: black 1px solid;
    font-size: 14px;
    padding: 10px;
    justify-content: space-between;
align-items: center;

}.categories p{
    padding: 10px;
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
}
.image img{
width: 100%;
}
.recommended{
    padding: 10px;
}
.recommended_container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.course_card{
    width: 250px;
    
}
.course_card img{
    height: 160px;
    width: 250px;
}
.topics{
    padding: 10px;
}
.topics_container{
display: flex;
gap:10px;
margin-top: 10px;
flex-wrap: wrap;
}
.topics_container p{
    border: solid rgb(101, 99, 99) 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%
}
.popular{
    padding: 10px;
}
.popular_container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
     gap: 10px;   
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
.footer_one{
    gap: 10px;
    display: flex;

}
.footer_one p{
    margin: 20px;
}
.footer_two{
    justify-content: space-between;
    display: flex;
    margin: 20px;
    align-items: center;
}
